# Baseline configuration used when sweeping hyperparameters.
expt_name: tuning_sweep
arch: resnet1d
loader: task_incremental_loader

data_path: data/rff/radar/hpt
dataset: iq
shuffle_tasks: false
classes_per_it: 6
iterations: 5000
workers: 0
validation: 0.3
class_order: random
increment: 5
test_batch_size: 100000
samples_per_task: -1
val_rate: 5

cuda: true
seed: 0
log_every: 50
log_dir: logs/tuning/individual
tf_dir: ""
calc_test_accuracy: false
state_logging: false

glances: 1
n_epochs: 5
optimizer: sgd
bgd_optimizer: sgd
# batch_size: 128
# replay_batch_size: 64
# memories: 1024
# grad_clip_norm: 5.0
# lr: 0.03
